* {
    color: teal;
    background-color: blanchedalmond;
    text-align: center;
    font-family: "Courier New", Courier, monospace;
}

a {
    margin-top: 20px;
    margin-right: 5px;
}

h1 {
    text-decoration: underline;
}

h3 {
    color: #b71946;
}

fieldset {
    margin: 10px;
    border-radius: 15px;
}

legend {
    background-color: aliceblue;
    border-radius: 15px;
}

button, input {
    background-color: aliceblue;
    border-radius: 16px;
    font-size: 15px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

select {
    background-color: aliceblue;

}

#app-detail {
    margin: auto;

}

dd, dt {
    display: inline-block;
    text-align: left;
}

dt {
    text-decoration: underline;
}

table {
    text-align: left;
    border: 1px solid;
    padding-top: 10px;
    padding-bottom: 10px;
}

thead {
    text-decoration:underline;
}

td {
    padding: 5px;
}
